.container{
  text-align: center;
  width: 100%;
  margin: auto;
}
.board{
  width: 100%;
  display: flex;
  float: left;
  text-align: center;
}
img{
  width: 40%;
}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 100px;
  color: #4ECCA3;
}

p {
  font-size: 4rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
